
  .parent {
    width: 95%;
    margin: auto;
    background: #ffffff;
    border-radius: 25px;
  }
  .file-upload {
    text-align: center;
    border: 3px dashed rgb(76, 145, 213);
    padding: 1.rem;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
  }
  .file-upload p {
    font-size: 0.87rem;
    margin-top: 10px;
    color: #bbcada;
  }
  
  .blinking-circle {
    width: 10px;       /* Taille du cercle */
    height: 10px;      /* Taille du cercle */
    background-color: #f9e39b;  /* Couleur initiale du cercle */
    border-radius: 50%;       /* Forme en cercle */
    animation: blink 1s infinite;  /* Animation de clignotement */
  }
  
  @keyframes blink {
    0% {
      opacity: 1;    /* Cercle allumé */
    }
    50% {
      opacity: 0;    /* Cercle éteint */
    }
    100% {
      opacity: 1;    /* Cercle allumé */
    }
  }

  .hover-image {
    opacity: 0; /* L'image est cachée par défaut */
  }
  
  .card:hover .hover-image {
    opacity: 1; /* L'image devient visible lors du survol */
  }
  